In [24]:
import pandas as pd
data = pd.read_csv('person.csv',index_col=0)
data.head()

,Time [s],RESP,PLETH,V,AVR,II,sec,HR,PULSE,SpO2,...,RESP_Kurt,PLETH_Kurt,V_Kurt,AVR_Kurt,II_Kurt,RESP_Skw,PLETH_Skw,V_Skw,AVR_Skw,II_Skw
0,0.000,0.35386,0.43597,0.52549,0.30392,0.72549,0,94,93.0,97.0,...,-1.141881,-0.727224,38.74675,22.201645,16.199218,0.28213,0.850456,-6.03636,-4.180157,3.717105
1,0.008,0.35679,0.43206,0.51961,0.33529,0.67059,0,94,93.0,97.0,...,-1.141881,-0.727224,38.74675,22.201645,16.199218,0.28213,0.850456,-6.03636,-4.180157,3.717105
2,0.016,0.35875,0.42815,0.51569,0.37451,0.60980,0,94,93.0,97.0,...,-1.141881,-0.727224,38.74675,22.201645,16.199218,0.28213,0.850456,-6.03636,-4.180157,3.717105
3,0.024,0.36168,0.42424,0.50588,0.41961,0.55098,0,94,93.0,97.0,...,-1.141881,-0.727224,38.74675,22.201645,16.199218,0.28213,0.850456,-6.03636,-4.180157,3.717105
4,0.032,0.36364,0.42131,0.50980,0.44902,0.50000,0,94,93.0,97.0,...,-1.141881,-0.727224,38.74675,22.201645,16.199218,0.28213,0.850456,-6.03636,-4.180157,3.717105

In [25]:
import numpy as np
resp_corr = pd.DataFrame(data.drop(['Time [s]','sec'],axis=1).corr()[' RESP'])
resp_corr.reset_index(inplace=True)
resp_corr['abs'] = resp_corr[' RESP'].apply(lambda x: np.abs(x))
resp_corr['resp'] = resp_corr['index'].apply(lambda x: 1 if 'RESP' in x else 0)
resp_corr = resp_corr[resp_corr['resp']==0]
resp_corr.sort_values(by='abs',ascending=False,inplace=True)
resp_corr.drop(['resp','abs'],axis=1,inplace=True)
resp_corr

           index      RESP
11       AVR_Min -0.322577
14     PLETH_Max -0.299205
19   PLETH_Min.1 -0.243309
32        II_Skw -0.181990
27       II_Kurt -0.181948
20       V_Min.1  0.180612
1          PLETH -0.167366
16       AVR_Max  0.163807
22      II_Min.1 -0.141301
9      PLETH_Min -0.132084
21     AVR_Min.1  0.129715
29     PLETH_Skw  0.114492
15         V_Max  0.094892
24    PLETH_Kurt  0.092633
31       AVR_Skw  0.081371
26      AVR_Kurt -0.076009
12        II_Min -0.070884
30         V_Skw  0.060206
2              V  0.057894
10         V_Min  0.043762
4             II -0.035258
3            AVR  0.033791
17        II_Max  0.025467
6          PULSE -0.018693
25        V_Kurt -0.017695
7           SpO2 -0.016481
5             HR -0.011243