In [48]:
import pandas as pd
import numpy as np
signals= pd.read_csv('csv/bidmc_01_Signals.csv',index_col=0)
signals['sec'] = signals['Time [s]'].apply(lambda x: int(np.floor(x)))
numerics = pd.read_csv('csv/bidmc_01_Numerics.csv',index_col=0)
numerics.rename(columns={'Time [s]':'sec'},inplace=True)
numerics.drop(' RESP',axis=1,inplace=True)
numerics['sec'] = numerics['sec'].apply(lambda x: int(x))
person = signals.merge(numerics,on='sec',how='outer')

In [49]:
from scipy.stats import skew,kurtosis
Hz_125_cols = [' RESP', ' PLETH', ' V', ' AVR', ' II']
Min = person[Hz_125_cols+['sec']].groupby('sec').min()
Min.columns = [i+'_Min' for i in Min.columns]
Max = person[Hz_125_cols+['sec']].groupby('sec').max()
Max.columns = [i+'_Max' for i in Max.columns]
Mean = person[Hz_125_cols+['sec']].groupby('sec').mean()
Mean.columns = Mean.columns = [i+'_Min' for i in Mean.columns]
Kurt = person[Hz_125_cols+['sec']].groupby('sec').agg(lambda x: kurtosis(x))
Kurt.columns = [i+'_Kurt' for i in Kurt.columns]
Skw = person[Hz_125_cols+['sec']].groupby('sec').agg(lambda x: skew(x))
Skw.columns = [i+'_Skw' for i in Skw.columns]

summary_frames = [Min,Max,Mean,Kurt,Skw]
one_sec_summary = pd.concat(summary_frames,axis=1).reset_index()

In [50]:
person = person.merge(one_sec_summary,on='sec',how='outer')
person.to_csv('person.csv')
person.head()

,Time [s],RESP,PLETH,V,AVR,II,sec,HR,PULSE,SpO2,...,RESP_Kurt,PLETH_Kurt,V_Kurt,AVR_Kurt,II_Kurt,RESP_Skw,PLETH_Skw,V_Skw,AVR_Skw,II_Skw
0,0.000,0.35386,0.43597,0.52549,0.30392,0.72549,0,94,93.0,97.0,...,-1.141881,-0.727224,38.74675,22.201645,16.199218,0.28213,0.850456,-6.03636,-4.180157,3.717105
1,0.008,0.35679,0.43206,0.51961,0.33529,0.67059,0,94,93.0,97.0,...,-1.141881,-0.727224,38.74675,22.201645,16.199218,0.28213,0.850456,-6.03636,-4.180157,3.717105
2,0.016,0.35875,0.42815,0.51569,0.37451,0.60980,0,94,93.0,97.0,...,-1.141881,-0.727224,38.74675,22.201645,16.199218,0.28213,0.850456,-6.03636,-4.180157,3.717105
3,0.024,0.36168,0.42424,0.50588,0.41961,0.55098,0,94,93.0,97.0,...,-1.141881,-0.727224,38.74675,22.201645,16.199218,0.28213,0.850456,-6.03636,-4.180157,3.717105
4,0.032,0.36364,0.42131,0.50980,0.44902,0.50000,0,94,93.0,97.0,...,-1.141881,-0.727224,38.74675,22.201645,16.199218,0.28213,0.850456,-6.03636,-4.180157,3.717105